src/config/
src/node_modules
src/my-app/node_modules
# dependencies
src/my-app/.pnp
src/my-app/.pnp.js

# testing
src/my-app/coverage

# production
src/my-app/build

# misc
src/my-app/.DS_Store
src/my-app/.env.local
src/my-app/.env.development.local
src/my-app/.env.test.local
src/my-app/.env.production.local

src/my-app/npm-debug.log*
src/my-app/yarn-debug.log*
src/my-app/yarn-error.log*
