body {
  font-family: "Nunito", sans-serif;
}
/* navbar */
header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
header h1 {
  display: inline;
  font-weight: 500;
  font-size: 2rem;
 
}
.navbar {
  background-color: #d5d5d5;
}
header .nav-item {
  font-size: 1.4rem;
}
header .nav-link {
  color: gray;
}
header .nav-link:hover {
  color: rgb(68, 67, 67);
}
.tagline {
  text-align: center;
  font-size: 1rem;
  margin-right: 3%;
  font-family: "Passions Conflict", cursive;
}
.logo {
  margin-top: 0;
  border-radius: 100%;
  width: 12.5%;
  box-shadow: 2px  2px 2px grey;
  margin-right: 5%;
}
.form-inline {
  margin-right: 90px;
}
.form-inline .btn {
  padding: 30% 60% 30% 60%;
}
@media (max-width: 1000px) {
  .form-inline .btn {
    padding: 1% 3% 1% 3%;
  }
}
/* navbar end  */

/* footer start  */
footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
footer p {
  color: gray;
}
.contact-us-icons {
  display: inline;
  position: relative;
  margin: auto 1%;
}
.contact-us-main {
  background-color: #d5d5d5;
}

.reachUs img {
  margin: auto 1%;
}
.reachUs {
  margin: 2% auto;
}
/* footer end  */


/* upper slide show  */
#testimonials {
  text-align: center;
  font-size: 1.5rem;
}
.testimonial-img {
  height: 550px;
  width: 100%;
  margin-right: 20px;
}
/* upper slide show end  */


/* about us start  */
#aboutUs-section {
  font-size: 1.5rem;
  padding: 3%;
 
}
.about-us-title{
  margin-left: 12%;
}
.about-us {
  height: 300px;
  background-color: #ededed;
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 15%;
}
.about-us p{
  width:80%;
}
.artisan-img {
  height: 300px;
  width: 300px;
  padding: 4%;
  float: righ
}
.about-us-content {
  margin-left: 20%;
  padding-top: 3%;
  margin-right: 5%;
}
@media (max-width: 1000px) {
  .about-us {
    height: 400px;
  }
  .about-us-content {
    margin-left: 30%;
    padding-top: 3%;
    margin-right: 5%;
    font-size: 0.7rem;
  }
}
/* about us end  */

/* youtube video section start  */
.yt-video-main {
  background-color: #1c0c5b;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
.yt-video {
  display: inline;
  margin: auto 4%;
}
@media (max-width: 1000px) {
  .yt-video {
    width: 40%;
  }
}
/* youtube video section end */


/* product section start */
.product-card {
  height: 280px;
  width: 18%;
  transition: 0.2s;
  box-shadow: 5px 5px 5px grey;

  display: inline;
}
.products {
  padding-top: 6%;
  padding-bottom: 10%;
}
.product-card-div {
  display: inline;
  position: relative;
  margin: 3%;
}
.product-card:hover {
  transform: scale(1.2);
}
.product-card-content {
  opacity: 0.8;
  position: absolute;
  background-color: #ea8484;
  font-size: 2rem;
  color: black;
  font-family: "Lobster", cursive;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
@media (max-width:1000px) {
  .product-card-content{
    font-size: 1rem;
  }
}
/* product section end  */
